// general scss
$purple: #341948;
$dark-blue: #170B3B;
$purple-haze: #9388A2;
$black: #0E050F;
$white: #FFF;

body {
    font-family: 'arial';
}

.align-text-center {
    text-align: center;
}

.mr-10 {
    margin-right: 10px;
}