<body>
    <div class="canvas-wrapper">
        <div class="top-bar">
            <div class="top-bar-left">
                <nav class="js-pixel-art-navigation pixel-art-navigation"></nav>
            </div>
            <div class="js-top-bar-right top-bar-right">
                <span class="pixel-art-logo mr-10">PIXELART</span>
            </div>
        </div>
        <div id="body-container">
            <div class="js-colors-palette-container colors-palette__container">
                <div class="js-colors-palette colors-palette"></div>
            </div>
            <div class="pixel-art__container">
                <div class="pixel-art-grid-tools">
                    <h3 class="align-text-center subtitle">tools</h3>
                    <div class="pixel-art-grid-tools__container">
                        <div class="bucket-tool__container">
                            <input type="checkbox" id="bucket-tool" name="bucket-tool">
                            <label for="bucket-tool"></label>
                        </div>
                    </div>
                </div>
                <div class="js-pixel-art-grid pixel-art-grid"></div>
                <div class="pixel-art-grid-instructions">
                    <h3 class="align-text-center subtitle"><i class="icon icon-list-numbered mr-10"></i>Instructions</h3>
                    <div class="pixel-art-grid-instructions__container">
                        <dl>
                            <dt><i class="icon icon-eyedropper"></i>Colors</dt>
                            <dd>The colors button allow you to add a new color to the palette, please note that you can add max 12 colors, after that every time that you add a new one, one of the current colors in your palette will be replaced</dd>
                            <dt><i class="icon icon-paint-bucket"></i>Bucket tool</dt>
                            <dd>Use the Bucket tool when you want to fill the grid with the same color</dd>
                            <dt><i class="icon icon-table2"></i>Grid size</dt>
                            <dd>Use the grid select option if you want to change the size of your grid</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>